/* root */
:root {
  --primary-text-color: #878995;
  --secondary-text-color: #0E163D;
  --tertiary-text-color: #A6876A;
  --quaternary-text-color: #414562;
  --fifth-text-color: #FFF;
  --six-text-color: #597393;
  --seven-text-color: rgb(255, 255, 255, 0.5);
  --eighth-text-color: rgb(255, 255, 255, 0.6);
  --ninth-text-color: #DDEAF3;
  --tenth-text-color: #BFD4E4;

  --primary-font-family: 'Merriweather', sans-serif;
  --secondary-font-family: 'DM Sans', sans-serif;

  --primary-font-weight: 400;
  --secondary-font-weight: 700;
  --tertiary-font-weight: 500;

  --primary-border-color: #A6876A;
  --secondary-border-color: #BeA58D;
  --tertiary-border-color: #597393;
  --quaternary-border-color: #414562;
  --fifth-border-color: #FFF;
  --six-border-color: #BFD4E4;

  --primary-background-color: #A6876A;
  --secondary-background-color: #0E163D;
  --tertiary-background-color: #F2F7F9;
  --quaternary-background-color: #BeA58D;
  --fifth-background-color: #414562;
  --six-background-color: #FFF;
  --seven-background-color: rgba(14, 22, 61, 0.75);
  }
  
/* body */
body { 
  min-width: 320px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  }

.scroll-hidden {
  overflow: hidden;
  }

/* wrapper */
.wrapper {
  background: var(--six-background-color);
  overflow: hidden;
  }

/* container */
[class*=__container] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  }

/* a */
a {
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color .3s linear;
  }

a:hover { 
  color: var(--tertiary-text-color);
  }

/* input */
input[type='tel'],   
input[type='text'],
input[type='email'],
input[type='password'] {
  margin: 0;
  padding: 0 15px;
  width: 100%;
  height: 44px;
  color: var(--fifth-text-color);
  font-size: 14px;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  border: 0;
  background: var(--fifth-background-color);
  border-radius: 0px !important;
  box-shadow: none !important;
  transition: .3s border-color;
  }

input[type='tel']:focus,   
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  background: var(--fifth-background-color);
  }

input[type='tel']::-moz-placeholder,
input[type='text']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='password']::-moz-placeholder {
  color: var(--seven-text-color);
  opacity: 1;
  outline: none;
  }

input[type='tel']::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder {
  color: var(--seven-text-color);
  opacity: 1;
  outline: none;
  }

/* btn */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 12px 30px;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  text-align: center;
  line-height: 22px;
  border: 2px solid var(--primary-border-color);
  background: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  transition: .3s all;
  }

.btn:hover {
  color: var(--fifth-text-color);
  background: var(--primary-background-color);
  }

.btn_size-sm {
  padding: 7px 29px;
  }

.btn_style-two {
  padding: 9px 20px;
  color: var(--fifth-text-color);
  background: var(--primary-background-color);
  }

.btn_style-two:hover {
  color: var(--fifth-text-color);
  border-color: var(--secondary-border-color);
  background: var(--quaternary-background-color);
  }

/* checkbox */
.checkbox { 
  display: flex; 
  align-items: flex-start;
  }

.checkbox input {
  position: relative;
  flex-shrink: 0;
  display: block;
  margin: 0 10px 0 0;
  width: 20px;
  height: 20px;
  border: 1.5px solid #878995;
  background: var(--six-background-color);
  border-radius: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }

.checkbox input:before {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  background: var(--quaternary-background-color);
  transform: translate(-50%, -50%);
  content: '';
  opacity: 0;
  transition: .3s opacity;
  }

.checkbox input:checked:before { opacity: 1; }

.checkbox label { 
  display: block;
  flex-grow: 1;
  margin: 0;
  color: var(--eighth-text-color);
  font-size: 12px;
  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  line-height: 20px;
  cursor: pointer;
  }

.checkbox label a { 
  position: relative;
  color: var(--fifth-text-color);
  }

.checkbox label a:hover {
  color: var(--tertiary-text-color);
  }

/* sub-title */
.sub-title {
  display: block;
  color: var(--tertiary-text-color);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  text-transform: uppercase;
  line-height: 22px;
  }

/* big-title */
.big-title {
  color: var(--secondary-text-color);
  font-size: 78px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 84px;
  }

/* title */
.title {
  color: var(--secondary-text-color);
  font-size: 48px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 54px;
  }

/* small-title */
.small-title {
  color: var(--quaternary-text-color);
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

.small-title a {
  color: var(--quaternary-text-color);
  }

.small-title a:hover {
  color: var(--tertiary-text-color);
  }

/* more-link */
.more-link {
  display: inline-block;
  vertical-align: top;
  color: var(--tertiary-text-color);
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 22px;
  }

.more-link:hover {
  color: var(--quaternary-text-color);
  }

.more-link .icon-more-arrow {
  margin: 0 0 0 8px;
  vertical-align: middle;
  transition: .3s margin;
  }

.more-link:hover .icon-more-arrow {
  margin: 0 0 0 12px;
  }

/* header */
.header {
  position: absolute;
  padding: 52px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  }

/* header__in */
.header__in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

/* menu-btn */
.menu-btn {
  position: relative;
  display: none;
  cursor: pointer;
  }

.menu-btn:before {
  position: absolute;
  display: block;
  width: 20px;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  cursor: pointer;
  }

.menu-btn span { 
  display: block;
  margin: 4px 0;
  width: 20px;
  height: 2px;
  background: #414562;
  transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), 
              transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  cursor: pointer;
  }

.menu-btn.close span { 
  margin: -2px;
  }

.menu-btn.close span:nth-child(1) {
  transform: rotate(-45deg);
  }

.menu-btn.close span:nth-child(2) {
  transform: scale(0)
  }

.menu-btn.close span:nth-child(3) {
  transform: rotate(45deg)
  }

/* header__col */
.header__col {
  display: flex;
  align-items: center;
  gap: 0 30px;
  }

/* main-nav */
.main-nav__in {
  display: flex;
  align-items: center;
  gap: 0 35px;
  }

.main-nav li {
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 22px;
  }

.main-nav a {
  color: var(--quaternary-text-color);
  }

.main-nav a:hover {
  color: var(--tertiary-text-color);
  }

.main-nav__in > .active > a {
  color: var(--tertiary-text-color);
  }

.main-nav .icon-down-arrow {
  margin: 0 0 0 9px;
  vertical-align: middle;
  font-size: 6px;
  }

.main-nav__in > li {
  position: relative;
  padding: 15px 0;
  }

/* main-nav__dropdown */
.main-nav__dropdown {
  position: absolute;
  padding: 15px;
  width: 240px;
  top: 0;
  left: -15px;
  transform: translateY(20%);
  background: var(--fifth-border-color);
  box-shadow: 0 10px 20px 0 rgba(14, 22, 61, 0.2);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: .3s all;
  }

.main-nav__in > li:hover > .main-nav__dropdown {
  transform: translateY(50px);
  visibility: visible;
  opacity: 1;
  }

.main-nav__dropdown li {
  position: relative;
  }

.main-nav__dropdown a {
  display: flex;
  justify-content: space-between;
  padding: 11px 14px 11px 15px;
  transition: .3s all;
  }

.main-nav__dropdown a:hover {
  color: var(--fifth-text-color);
  background: var(--primary-background-color);
  }

.main-nav__dropdown .active > a {
  color: var(--fifth-text-color);
  background: var(--primary-background-color);
  }

.main-nav__dropdown .icon-next-arrow {
  vertical-align: middle;
  font-size: 10px;
  }

.main-nav__dropdown .main-nav__dropdown {
  width: 200px;
  left: calc(100% + 15px);
  transform: translateY(20%);
  }

.main-nav__dropdown li:hover .main-nav__dropdown {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  }

/* header__panel */
.header__panel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 27px;
  padding: 0 0 0 30px;
  }

.header__panel:before {
  position: absolute;
  display: block;
  width: 1px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #414562;
  content: "";
  opacity: 0.25;
  }

/* search */
.search {
  position: relative;
  }

.search .icon-search {
  color: var(--quaternary-text-color);
  font-size: 20px;
  cursor: pointer;
  transition: .3s color;
  }

.search .icon-search:hover,
.search .icon-search.open {
  color: var(--tertiary-text-color);
  }

.search__dropdown {
  position: absolute;
  padding: 15px;
  width: 400px;
  top: 38px;
  right: 0;
  transform: translateY(20%);
  background: var(--fifth-border-color);
  opacity: 0;
  visibility: hidden;
  transition: .3s all;
  }

.search__dropdown.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  }

.search__dropdown form {
  display: flex;
  align-items: flex-start;
  gap: 0 10px;
  }

/* shopping-cart */
.shopping-cart .icon-shopping-cart {
  color: var(--quaternary-text-color);
  font-size: 22px;
  cursor: pointer;
  transition: .3s color;
  }

.shopping-cart .icon-shopping-cart:hover {
  color: var(--tertiary-text-color);
  }

/* hero-section */
.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 768px;
  }

/* down-link */
.down-link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 26px;
  }

.down-link .icon-right-arrow {
  position: relative;
  margin: 0 0 0 17px;
  top: 2px;
  }

.hero-section .down-link {
  position: absolute;
  display: block;
  right: 100px;
  bottom: 130px;
  transform: rotate(90deg);
  z-index: 5;
  }

/* hero-slider */
.hero-slider {
  width: 100%;
  height: 100%;
  }

.hero-slider .swiper-wrapper {
  height: 100%;
  }

.hero-slider .swiper-slide {
  height: 100%;
  }

.hero-slider__container {
  height: 100%;
  }

/* hero-slider__buttons-wrap */
.hero-slider__buttons-wrap {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 60px;
  z-index: 5;
  }

.hero-slider__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  }

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  position: static;
  margin: 0;
  width: 70px;
  height: 70px;
  color: var(--quaternary-text-color);
  background: var(--six-background-color);
  border-radius: 100%;
  transition: .3s all;
  }

.hero-slider .swiper-button-prev:hover,
.hero-slider .swiper-button-next:hover {
  color: var(--fifth-text-color);
  background: var(--primary-background-color);
  }

.hero-slider .swiper-button-prev:after,
.hero-slider .swiper-button-next:after {
  display: none;
  }

/* hero-slider__item */
.hero-slider__item {
  height: 100%;
  background: var(--six-background-color);
  }

.hero-slider__description {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 80px 0 60px;
  height: 100%;
  z-index: 5;
  }

.hero-slider__title {
  transform: translateX(5%);
  color: var(--secondary-text-color);
  font-size: 96px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 96px;
  transition: .7s transform ease;
  }

.hero-slider .swiper-slide-active .hero-slider__title {
  transform: translateX(0);
  }

.hero-slider__photo {
  position: absolute;
  height: 100%;
  top: 0;
  left: 40%;
  right: 0;
  }

.hero-slider__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
  }

/* hero-section__bottom-col */
.hero-section__bottom-col {
  padding: 90px 0;
  }

.hero-nav__item {
  cursor: pointer;
  transition: .3s opacity;
  }

.hero-nav__item:hover {
  opacity: 0.6;
  }

.hero-nav .swiper-slide-thumb-active .hero-nav__item:hover {
  opacity: 1;
  }

.hero-nav__title {
  margin: 0 0 12px;
  padding: 0 0 12px;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 24px;
  border-bottom: 1px solid var(--six-border-color);
  transition: .3s all;
  }

.hero-nav .swiper-slide-thumb-active .hero-nav__title {
  color: var(--tertiary-text-color);
  border-color: var(--primary-border-color);
  }

/* offers-section__top-col */
.offers-section__top-col {
  position: relative;
  padding: 135px 0 0;
  }

/* offers-section__img-col */
.offers-section__img-col {
  position: absolute;
  width: 32.50vw;
  height: 100%;
  top: 0;
  right: -5vw;
  z-index: 5;
  }

/* offers-sticker */
.offers-sticker {
  width: 200px;
  }

.offers-sticker img {
  width: 100%;
  }

.offers-section__img-col .offers-sticker {
  position: absolute;
  bottom: 88px;
  left: -100px;
  animation: rotateCircles 7.5s linear infinite;
  }

@keyframes rotateCircles {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

/* offers-section__img */
.offers-section__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  }

.offers-section__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

/* offers-section__top-panel */
.offers-section__top-panel {
  margin: 0 0 45px;
  }

.offers-section .sub-title {
  margin: 0 0 30px;
  }

.offers-section .title {
  margin: 0 0 50px;
  }

.offers-section__info-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  }

.offers-section__info-panel .btn {
  flex-shrink: 0;
  }

/* services */
.services {
  position: relative;
  padding: 70px 0;
  background: var(--tertiary-background-color);
  }

.services:before {
  position: absolute;
  display: block;
  width: 4000px;
  height: 100%;
  top: 0;
  left: -4000px;
  background: var(--tertiary-background-color);
  content: "";
  }

.services:after {
  position: absolute;
  display: block;
  width: 4000px;
  height: 100%;
  top: 0;
  right: -4000px;
  background: var(--tertiary-background-color);
  content: "";
  } 

.services__in {
  position: relative;
  z-index: 5;
  }

/* services-list */
.services-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
  }

.services-list__col {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  }

.services-list__item {
  display: flex;
  align-items: flex-start;
  }

.services-list__number {
  display: block;
  margin: 0 20px 0 0;
  color: var(--tertiary-text-color);
  font-size: 12px;
  font-family: var(--secondary-font-family);
  font-weight: var(--tertiary-font-weight);
  line-height: 16px;
  }

.services-list__text {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

/* offers-section__bottom-col */
.offers-section__bottom-col {
  padding: 100px 0;
  }

/* brans-slider */
.brans-slider .swiper-wrapper {
  align-items: center;
  }

/* case-section */
.case-section {
  position: relative;
  }

/* case-section__top-panel */
.case-section__top-panel {
  position: absolute;
  padding: 100px 0 0;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
  }

.case-section .sub-title {
  color: var(--fifth-text-color);
  }

/* case */
.case {
  position: relative;
  }

/* case__content */
.case__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 5;
  }

.case__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  height: 780px;
  color: var(--fifth-text-color);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  }

.case__item:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
  transition: .4s height ease;
  }

.case__item.active:before {
  height: 780px;
  }

.case__description {
  position: relative;
  z-index: 6;
  }

.case__title {
  margin: 0 0 20px;
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

.case__item p {
  margin: 0;
  height: 0;
  font-size: 18px;
  line-height: 30px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: .4s all ease;
  }

.case__item.active p {
  margin: 0 0 20px;
  height: auto;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  }

.case__item .more-link:hover {
  color: var(--fifth-text-color);
  }

.case__item .more-link span {
  display: none;
  }

.case__item.active .more-link span {
  display: inline;
  }

.case__item .more-link .icon-more-arrow {
  margin: 0;
  }

.case__item.active .more-link .icon-more-arrow {
  margin: 0 0 0 8px;
  }

/* case__images */
.case__images {
  position: absolute;
  width: 100%;
  height: 780px;
  top: 0;
  left: 0;
  overflow: hidden;
  }

.case__image {
  width: 100%;
  height: 100%;
  }

.case__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

/* about-section */
.about-section {
  padding: 140px 0 180px;
  color: var(--fifth-text-color);
  background: var(--secondary-background-color);
  }

/* about-section__top-panel */
.about-section__top-panel {
  display: flex;
  align-items: flex-start;
  margin: 0 0 60px;
  }

.about-section .sub-title {
  margin: 0 120px 0 0;
  padding: 20px 0 0;
  }

.about-section .big-title {
  color: var(--fifth-text-color);
  }

/* about-section__content */
.about-section__content {
  display: flex;
  align-items: flex-start;
  gap: 0 80px;
  padding: 0 0 0 200px;
  }

.about-section__text {
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

.about-section__content .about-section__text {
  flex-shrink: 0;
  width: 320px;
  }

/* counter */
.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
  }

.counter__top-panel {
  display: flex;
  align-items: flex-start;
  gap: 0 5px;
  margin: 0 0 25px;
  }

.counter__number {
  font-size: 48px;
  color: var(--tertiary-text-color);
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 54px;
  }

.counter__symbols {
  padding: 9px 0 0;
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

.counter__text {
  color: var(--tenth-text-color);
  font-size: 14px;
  line-height: 24px;
  }

/* events-section */
.events-section {
  position: relative;
  padding: 60px 0 140px;
  }

.events-section:before {
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--primary-background-color);
  content: "";
  }

.events-section__container {
  position: relative;
  z-index: 5;
  }

.events-section .sub-title {
  margin: 0 0 60px;
  color: var(--fifth-text-color);
  }

/* events-section__row */
.events-section__row {
  display: flex;
  gap: 0 30px;
  }

/* event-main */
.event-main {
  position: relative;
  flex-shrink: 0;
  width: 770px;
  }

.event-main__photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  }

.event-main__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

/* event-widget */
.event-widget {
  position: absolute;
  width: 396px;
  right: 30px;
  bottom: 30px;
  }

/* event-widget__top-panel */
.event-widget__top-panel {
  padding: 15px;
  background: var(--seven-background-color);
  }

/* timer */
.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0 8px;
  }

.timer__item {
  position: relative;
  text-align: center;
  }

.timer__number {
  display: block;
  color: var(--fifth-text-color);
  font-size: 30px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 36px;
  }

.timer__label {
  display: block;
  color: var(--tenth-text-color);
  font-size: 12px;
  line-height: 20px;
  }

.timer .icon-bullet {
  position: absolute;
  top: 10px;
  right: -6px;
  font-size: 18px;
  color: var(--tertiary-text-color);
  }

/* event-widget__description */
.event-widget__description {
  padding: 30px;
  background: var(--six-background-color);
  }

.event-widget__title {
  margin: 0 0 20px;
  font-size: 30px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 36px;
  }

.event-widget__bottom-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

/* events-catalogue */
.events-catalogue {
  margin: 0 0 36px;
  }

.events-catalogue__item {
  margin: 0 0 27px;
  padding: 30px 37px 30px 30px;
  border-top: 3px solid #A6876A;
  }

.events-catalogue__item:last-child {
  margin: 0;
  }

.events-catalogue__item .small-title {
  margin: 0 0 20px;
  }

.events-catalogue__item .small-title a {
  color: var(--secondary-text-color);
  }

.events-catalogue__item .small-title a:hover {
  color: var(--quaternary-text-color);
  }

.events-catalogue__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

/* date */
.date {
  display: flex;
  align-items: center;
  }

.date .icon-calendar {
  margin: 0 7px 0 0;
  color: var(--tertiary-text-color);
  font-size: 18px;
  }

.date__text {
  font-size: 13px;
  line-height: 22px;
  }

/* details-link */
.details-link {
  display: inline-block;
  vertical-align: top;
  color: var(--tertiary-text-color);
  font-size: 14px;
  font-family: var(--secondary-font-family);
  font-weight: var(--tertiary-font-weight);
  line-height: 20px;
  }

.details-link:hover {
  color: var(--quaternary-text-color);
  }

.details-link .icon-more-arrow {
  position: relative;
  margin: 0 0 0 10px;
  vertical-align: middle;
  right: 0;
  font-size: 14px;
  transition: .3s right;
  }

.details-link:hover .icon-more-arrow {
  right: -4px;
  }

/* testimonials-section */
.testimonials-section {
  padding: 140px 0;
  color: var(--fifth-text-color);
  background: var(--secondary-background-color);
  }

/* testimonials-section__top-panel */
.testimonials-section__top-panel {
  display: flex;
  align-items: flex-start;
  margin: 0 0 60px;
  }

.testimonials-section__top-panel .sub-title {
  margin: 0 186px 0 0;
  padding: 20px 0 0;
  }

.testimonials-section .big-title {
  color: var(--fifth-text-color);
  }

.testimonials-slider .swiper-wrapper {
  z-index: 4;
  }

/* testimonials-slider__buttons */
.testimonials-slider__buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  }

.testimonials-slider .swiper-button-prev,
.testimonials-slider .swiper-button-next {
  position: static;
  margin: 0;
  width: 70px;
  height: 70px;
  color: var(--fifth-text-color);
  font-size: 16px;
  border: 1px solid var(--tertiary-border-color);
  border-radius: 100%;
  transition: .3s all;
  }

.testimonials-slider .swiper-button-prev:hover,
.testimonials-slider .swiper-button-next:hover {
  color: var(--fifth-text-color);
  border-color: var(--primary-border-color);
  background: var(--primary-background-color);
  }

.testimonials-slider .swiper-button-prev:after,
.testimonials-slider .swiper-button-next:after {
  display: none;
  }

/* testimonials-slider__item */
.testimonials-slider__item {
  padding: 0 120px 0 300px;
  }

/* testimonials-slider */
.testimonials-slider__text {
  margin: 0 0 70px;
  max-width: 630px;
  font-size: 30px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 36px;
  }

/* testimonials-slider__author-panel */
.testimonials-slider__author-panel {
  position: relative;
  }

/* testimonials-slider__author */
.testimonials-slider__name {
  display: block;
  margin: 0 0 4px;
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

.testimonials-slider__post {
  display: block;
  color: var(--ninth-text-color);
  font-size: 16px;
  line-height: 26px;
  }

/* testimonials-slider__author-photo */
.testimonials-slider__author-photo {
  position: absolute;
  width: 150px;
  left: -250px;
  bottom: 0;
  border: 5px solid var(--fifth-border-color);
  background: var(--six-background-color);
  border-radius: 100%;
  }

.testimonials-slider__author-photo .icon-quote {
  position: absolute;
  top: -38px;
  left: -47px;
  color: var(--tertiary-text-color);
  font-size: 60px;
  z-index: 5;
  }

.testimonials-slider__author-photo img {
  width: 100%;
  border-radius: 100%;
  }

/* blog-section */
.blog-section {
  padding: 140px 0 0;
  background: var(--tertiary-background-color);
  }

/* blog-section__top-panel */
.blog-section__top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px;
  }

/* blog-catalogue */
.blog-catalogue {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
  margin: 0 0 140px;
  }

.blog-catalogue__item {
  position: relative;
  padding: 0 0 22px;
  }

.blog-catalogue__sticker {
  position: absolute;
  display: inline-block;
  padding: 3px 8px;
  vertical-align: top;
  top: 20px;
  left: 20px;
  color: var(--fifth-text-color);
  font-size: 14px;
  font-family: var(--secondary-font-family);
  font-weight: var(--tertiary-font-weight);
  line-height: 20px;
  background: var(--primary-background-color);
  z-index: 5;
  }

.blog-catalogue__photo {
  margin: 0 0 30px;
  overflow: hidden;
  }

.blog-catalogue__photo img {
  width: 100%;
  transition: .4s transform;
  }

.blog-catalogue__item:hover .blog-catalogue__photo img {
  transform: scale(1.1);
  }

.blog-catalogue .small-title {
  margin: 0 0 20px;
  }

.blog-catalogue__text {
  margin: 0 0 20px;
  line-height: 30px;
  }

.blog-catalogue .more-link {
  position: absolute;
  left: 0;
  bottom: 0;
  }

/* blog-catalogue-sm */
.blog-catalogue-sm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

.blog-catalogue-sm__item {
  padding: 35px 40px;
  border-right: 1px solid #e1e1e1;
  background: var(--six-background-color);
  }

.blog-catalogue-sm__item:last-child {
  border-right: 0;
  }

.blog-catalogue-sm .sub-title {
  margin: 0 0 20px;
  }

.blog-catalogue-sm__bottom {
  display: flex;
  align-items: center;
  gap: 0 25px;
  }

.blog-catalogue-sm p {
  font-size: 18px;
  color: var(--quaternary-text-color);
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 24px;
  }

.blog-catalogue-sm .btn {
  flex-shrink: 0;
  }

/* footer */
.footer {
  padding: 80px 0 0;
  color: var(--fifth-text-color);
  background: var(--secondary-background-color);
  }

/* footer__row */
.footer__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 60px;
  }

.footer__col {
  padding: 0 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  }

.footer__col:first-child {
  padding-left: 0;
  border-left: 0;
  }

.footer__col:last-child {
  padding-right: 0;
  }

/* footer__logo */
.footer__logo {
  margin: 0 0 30px;
  }

/* footer__text */
.footer__text {
  margin: 0 0 40px;
  color: var(--eighth-text-color);
  font-size: 14px;
  line-height: 24px;
  }

.footer__col:last-child .footer__text {
  margin: 0 0 20px;
  }

/* social */
.social {
  display: flex;
  align-items: center;
  gap: 0 10px;
  }

.social a {
  display: block;
  width: 48px;
  height: 48px;
  color: var(--eighth-text-color);
  text-align: center;
  line-height: 48px;
  border: 1px solid var(--quaternary-border-color);
  border-radius: 100%;
  }

.social a:hover {
  color: var(--fifth-text-color);
  }

/* footer__title */
.footer__title {
  margin: 0 0 30px;
  font-size: 24px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 30px;
  }

.footer__col:last-child .footer__title {
  margin: 0 0 20px;
  }

/* footer__nav  */
.footer__nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 14px 30px;
  }

.footer__nav li {
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 22px;
  }

.footer__nav a {
  color: var(--seven-text-color);
  }

.footer__nav a:hover {
  color: var(--tertiary-text-color);
  }

/* subscribe-form__top-panel */
.subscribe-form__top-panel {
  display: flex;
  align-items: flex-start;
  gap: 0 10px;
  margin: 0 0 20px;
  }

/* footer__bottom-panel */
.footer__bottom-panel {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

/* copy */
.copy {
  color: var(--seven-text-color);
  font-size: 12px;
  font-family: var(--secondary-font-family);
  text-align: center;
  line-height: 22px;
  }

.copy a {
  color: var(--fifth-text-color);
  }

.copy a:hover {
  color: var(--tertiary-text-color);
  } 

/* page-loader */
.page-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--six-background-color);
  z-index: 99;
  }

.page-loader__text {
  display: flex;
  gap: 0 10px;
  align-items: center;
  }

.page-loader__text span {
  color: var(--secondary-text-color);
  font-size: 96px;
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
  line-height: 96px;
  animation: loading 5s ease infinite;
  opacity: 0;
  }

.page-loader__text span:nth-child(1){
  animation-delay: .5s;
  }

.page-loader__text span:nth-child(2){
  animation-delay: 1s;
  }

.page-loader__text span:nth-child(3){
    animation-delay: 1.5s;
  }

.page-loader__text span:nth-child(4){
  animation-delay: 2s;
  }

.page-loader__text span:nth-child(5){
  animation-delay: 2.5s;
  }

.page-loader__text span:nth-child(6){
  animation-delay: 3s;
  }

.page-loader__text span:nth-child(7){
  animation-delay: 3.5s;
  }

.page-loader__text span:nth-child(8){
  animation-delay: 4s;
  }

.page-loader__text span:nth-child(9){
  animation-delay: 4.5s;
  }

@keyframes loading {
  50%{
    opacity: 1;
  }
}